{% extends 'backend/index.html.twig' %}

{% block content %}


{#{% extends 'backend/index.html.twig' %}#}

{#{% block content %}#}
    <h1>Bus creation</h1>
<div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
        <tr>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('bus_index') }}">Back to the list</a>
        </li>
    </ul>
        </tr>
        </thead>
    </table>
</div>
    <a type="button" class="btn btn-default pull-right" href="{{ path('bus_index') }}">Back to the list</a>
{% endblock %}
