{% extends 'backend/index.html.twig' %}

{% block content %}
    <h1>Foyers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Nbrchambre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for foyer in foyers %}
            <tr>
                <td><a href="{{ path('foyer_show', { 'id': foyer.id }) }}">{{ foyer.id }}</a></td>
                <td>{{ foyer.nom }}</td>
                <td>{{ foyer.lieu }}</td>
                <td>{{ foyer.nbrChambre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('foyer_show', { 'id': foyer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('foyer_edit', { 'id': foyer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('foyer_new') }}">Create a new foyer</a>
        </li>
    </ul>
{% endblock %}
